<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Chatter</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <!-- Personal stylesheet  -->
    <link href="/assets/mine.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Tech Chatter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item active">
                    <a class="nav-link" href="/" style="padding-left: 900px;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile"><%= name %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log out</a>
                </li>
            </ul>
        </div>
        </nav>
    </header>
    <br>
    <div class="container p-1 my-1 bg-light text-black">
      <h1><%= post.topic %></h1>
      <h6><%= post.content %></h6>
      <h5>By: <%= name %></h5>
      <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/post/<%=post._id%>/upvote"><button type="button" class="btn btn-secondary"><%= post.upvote %> Upvote</button></a>
        <a href="/post/<%=post._id%>/downvote"><button type="button" class="btn btn-secondary"><%= post.downvote %> Downvote</button></a>
      </div>
      <br><br>
      <form action="/post/<%=post._id%>/comment" method="POST"><input type="text" name="comment">
      <br><br>
      <button type="submit" class="btn btn-dark">Comment</button></form></li>
    </div>
    <div>
      <ul>
        <% for (var i = 0; i < comments.length ; i++) { %>
            <ul>
              <div class="container p-1 my-1 bg-light text-black">
              <li><%= comments[i].comment %> - <%= comments[i].name %></li>
              </div>
            </ul>
        <% } %>
      </ul>
    </div>
    <footer>
    </footer>
</body>
</html>